-<!-- on fait passser au component ci-dessous l'observable dont on dispose déjà sous forme d'input -->
<app-restaurant-ranking [restaurants$]="restaurants$"></app-restaurant-ranking>
<div *ngIf="!(restaurants$ | async); else restauList">
  loading...
</div>
<!-- le # sert à déclarer une variable -->
<ng-template #restauList>
  <div class="list-perso" *ngFor="let restaurant of restaurants$ | async">
    <div>Nom : {{restaurant.name}}</div>
    <div>Ajouté le : {{restaurant.createdAt | date: "dd/MM/yyyy à HH:mm"}}</div>
    <div>
      {{setRankLabelPluriel(restaurant)}} {{restaurant.vote}}
      <button mat-stroked-button color="accent" aria-label="vote" (click)="vote(restaurant)"> + </button>
    </div>

  </div>
</ng-template>
